data
outputs
plots
pretrained_models
__pycache__/
**/__pycache__/
tools/_jupyter/.ipynb_checkpoints
training
validation
testing
trained_kbnet
kitti_depth
configs/*.json
mid/
ckpt/
src/depth_anything_v2/__pycache__
src/depth_anything_v2/dinov2_layers/__pycache__